body {
  overflow-x: hidden;
  background-image: url(../imgs/Latoya/photo-1618084856766-d0c4aa08481a.avif);
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Henny Penny";
  font-size: 60px;
  font-weight: bold;
  color: #f2cc0f;
}
.sub-title {
  font-family: "Pattaya";
  font-size: 35px;
  color: #f2f2f2;
}

.img-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 72px);
  width: calc(100vw);
  background-color: rgba(0, 0, 0, 0.42);
}

.card {
  background-color: #8cbf3f00 !important;
}
.img-about {
  padding: 5px 20px;
  margin-top: 20px;
}
.img-mayor {
  border-radius: 50%;
}
