@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pattaya");
@import url("https://fonts.googleapis.com/css?family=Henny Penny");
body {
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.card {
  z-index: 2;
}

.d-flex {
  display: flex !important;
}

.bg-main-1 {
  background-color: #f2cc0f;
}

.bg-main-purple {
  background-color: #9453a6;
}

.title {
  font-family: "Henny Penny";
  font-size: 60px;
  font-weight: bold;
  color: #f2cc0f;
}

.sub-title {
  font-family: "Pattaya";
  font-size: 35px;
}

.main-content {
  min-height: 50vh;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  width: 120px;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.img-block {
  height: calc(100vh - 72px);
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top top;
}

.img-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 72px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.42);
}

.img01 {
  background-image: url(../imgs/festival/Mardi-Gras-Girl-Mask.jpg) !important;
}

.img02 {
  background-image: url(../imgs/festival/Mardi-Gras-2019-158-1.jpg) !important;
}

.img03 {
  background-image: url(../imgs/festival/unspecified.jpg) !important;
}

.img04 {
  background-image: url(../imgs/festival/golf-cart-1240.jpg) !important;
}

.img05 {
  background-image: url(../imgs/festival/test2.jpg) !important;
}

#sponsers .carousel-control-next {
  right: -120px !important;
}
#sponsers .carousel-control-prev {
  left: -120px !important;
}

.part1 {
  background-color: #9453a6;
  color: #f2f2f2;
  text-align: inherit;
  line-height: 2;
  font-size: 1.5em;
}

.part1 p {
  margin: 100px 100px;
}

.card-img-top {
  height: 200px;
}

.img-slide {
  background-position: center center;
  background-size: cover;
  background-color: transparent !important;
  background-repeat: no-repeat;
  min-height: 350px;
}

.img-slide-1 {
  background: url(../imgs/festival/LMC-Mystique-07.jpg);
}

.img-slide-2 {
  background: url(../imgs/festival/LMC-Mystique-17.jpg);
}

.exit-icon {
  font-size: 40px;
  font-weight: lighter;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-reverse {
    flex-direction: column-reverse !important;
  }
}
#gallery {
  padding-top: 40px;
}
@media screen and (min-width: 991px) {
  #gallery {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay img {
    width: 50%;
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 110px;
  right: 50px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}

.img-responsive {
  height: 300px;
  width: 300px;
}

#exampleModalImg {
  width: 100%;
  height: 300px;
}

.accordion-button.collapsed {
  background: #f2cc0f;
}

.accordion-body {
  background-color: #8cbf3f;
}

body {
  overflow-x: hidden;
  background-image: url(../imgs/Latoya/photo-1618084856766-d0c4aa08481a.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Henny Penny";
  font-size: 60px;
  font-weight: bold;
  color: #f2cc0f;
}

.sub-title {
  font-family: "Pattaya";
  font-size: 35px;
  color: #f2f2f2;
}

.img-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 72px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.42);
}

.card {
  background-color: rgba(140, 191, 63, 0) !important;
}

.img-about {
  padding: 5px 20px;
  margin-top: 20px;
}

.img-mayor {
  border-radius: 50%;
}/*# sourceMappingURL=site.css.map */